In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import pickle

In [2]:


path = "C:\\Users\\kalra\\Downloads\\data.pickle"
with open(path, 'rb') as f:
    data_temp = pickle.load(f)
    print(data_temp.keys())

dict_keys(['lib_dir', 'oracle_connection_string', 'coefficient', 'query', 'MW_forecast', 'sqlcode', 'heat_rate_1', 'fuel_burn_est_1', 'MW_actual', 'MW_actual_preverified', 'fuel_burn_actual', 'master_table_1', 'gas_date_list', 'master_table_2', 'start_date', 'end_date', 'date_range', 'gas_daily_view', 'gas_daily_view_1', 'deleteme', 'gas_daily_view_2', 'deleteme2', 'deleteme3', 'gas_daily_view_3', 'outage_completed', 'outage_future', 'outage_completed_1', 'outage_future_1', 'unit_capacity', 'unit_capacity_1', 'unit_capacity_2', 'unit_capacity_completed', 'unit_capacity_3', 'unit_capacity_future', 'unit_capacity_final', 'unit_capacity_daily', 'unit_capacity_daily_final', 'hdd_cdd', 'for_modeling'])

In [7]:
data_temp['for'].head()

,commercial_node,iso_for_da_awards_miso,begin_date,day_ahead_mw_awarded,date,hour,isb_coefficient_a,isb_coefficient_b,isb_coefficient_c,heat_rate,fuel_burn_est
0,EES.L_CREEK1,MISO_for_DA_awards_MISO,2013-07-23 00:00:00.000000,184.0,2013-07-23,0,265.324,8.184,0.00313,10.201898,1877.14928
1,EES.L_CREEK1,MISO_for_DA_awards_MISO,2013-07-23 01:00:00.000000,184.0,2013-07-23,1,265.324,8.184,0.00313,10.201898,1877.14928
2,EES.L_CREEK1,MISO_for_DA_awards_MISO,2013-07-23 02:00:00.000000,184.0,2013-07-23,2,265.324,8.184,0.00313,10.201898,1877.14928
3,EES.L_CREEK1,MISO_for_DA_awards_MISO,2013-07-23 03:00:00.000000,184.0,2013-07-23,3,265.324,8.184,0.00313,10.201898,1877.14928
4,EES.L_CREEK1,MISO_for_DA_awards_MISO,2013-07-23 04:00:00.000000,184.0,2013-07-23,4,265.324,8.184,0.00313,10.201898,1877.14928

### Coefficient

In [3]:
data_temp['coefficient']

,valid_from_date,valid_to_date,commercial_node,isb_coefficient_a,isb_coefficient_b,isb_coefficient_c
1,2013-01-01,2013-03-31 00:00:00.000000000,EES.L_CREEK1,228.500,8.615,0.00234
3,2013-04-01,2013-05-30 00:00:00.000000000,EES.L_CREEK1,228.500,8.615,0.00234
4,2013-05-31,2013-06-30 00:00:00.000000000,EES.L_CREEK1,265.324,8.184,0.00313
0,2013-07-01,2013-12-31 00:00:00.000000000,EES.L_CREEK1,265.324,8.184,0.00313
11,2014-01-01,2014-03-31 00:00:00.000000000,EES.L_CREEK1,265.324,8.184,0.00313
9,2014-04-01,2014-06-30 00:00:00.000000000,EES.L_CREEK1,265.324,8.184,0.00313
16,2014-07-01,2014-09-30 00:00:00.000000000,EES.L_CREEK1,265.324,8.184,0.00313
15,2014-10-01,2014-12-31 00:00:00.000000000,EES.L_CREEK1,265.324,8.184,0.00313
20,2015-01-01,2015-03-31 00:00:00.000000000,EES.L_CREEK1,265.324,8.184,0.00313
21,2015-04-01,2015-04-16 00:00:00.000000000,EES.L_CREEK1,265.324,8.184,0.00313
7,2015-04-17,2015-06-30 00:00:00.000000000,EES.L_CREEK1,272.157,7.752,0.00378
25,2015-07-01,2015-09-30 00:00:00.000000000,EES.L_CREEK1,272.157,7.752,0.00378
27,2015-10-01,2015-12-31 00:00:00.000000000,EES.L_CREEK1,272.157,7.752,0.00378
29,2016-01-01,2016-03-31 00:00:00.000000000,EES.L_CREEK1,272.157,7.752,0.00378
23,2016-04-01,2016-06-30 00:00:00.000000000,EES.L_CREEK1,272.157,7.752,0.00378
32,2016-07-01,2019-06-04 00:00:00.000000000,EES.L_CREEK1,272.157,7.752,0.00378
31,2019-06-05,2262-04-11 23:47:16.854775807,EES.L_CREEK1,274.134,7.997,0.00299
2,2013-01-01,2013-03-31 00:00:00.000000000,EES.L_CREEK2,213.600,8.519,0.00207
5,2013-04-01,2013-06-30 00:00:00.000000000,EES.L_CREEK2,213.600,8.519,0.00207
6,2013-07-01,2013-09-30 00:00:00.000000000,EES.L_CREEK2,213.600,8.519,0.00207
18,2013-10-01,2013-12-31 00:00:00.000000000,EES.L_CREEK2,213.600,8.519,0.00207
10,2014-01-01,2014-02-06 00:00:00.000000000,EES.L_CREEK2,213.600,8.519,0.00207
12,2014-02-07,2014-03-31 00:00:00.000000000,EES.L_CREEK2,223.070,8.051,0.00305
13,2014-04-01,2014-04-08 00:00:00.000000000,EES.L_CREEK2,223.070,8.051,0.00305
14,2014-04-09,2014-06-30 00:00:00.000000000,EES.L_CREEK2,218.821,8.384,0.00161
17,2014-07-01,2014-09-30 00:00:00.000000000,EES.L_CREEK2,218.821,8.384,0.00161
19,2014-10-01,2014-12-31 00:00:00.000000000,EES.L_CREEK2,218.821,8.384,0.00161
22,2015-01-01,2015-03-31 00:00:00.000000000,EES.L_CREEK2,218.821,8.384,0.00161
8,2015-04-01,2015-06-30 00:00:00.000000000,EES.L_CREEK2,218.821,8.384,0.00161
26,2015-07-01,2015-09-30 00:00:00.000000000,EES.L_CREEK2,218.821,8.384,0.00161
28,2015-10-01,2015-12-31 00:00:00.000000000,EES.L_CREEK2,218.821,8.384,0.00161
30,2016-01-01,2016-03-31 00:00:00.000000000,EES.L_CREEK2,218.821,8.384,0.00161
24,2016-04-01,2016-06-30 00:00:00.000000000,EES.L_CREEK2,218.821,8.384,0.00161
34,2016-07-01,2021-09-07 00:00:00.000000000,EES.L_CREEK2,218.821,8.384,0.00161
33,2021-09-08,2262-04-11 23:47:16.854775807,EES.L_CREEK2,232.800,7.880,0.00340

In [5]:
data_temp['gas_daily_view_3']

,gas_date,MW_forecast_Lewis_Creek1,MW_forecast_Lewis_Creek2,MW_actual_Lewis_Creek1,MW_actual_Lewis_Creek2,MW_actual_preverified_Lewis_Creek1,MW_actual_preverified_Lewis_Creek2,fuel_burn_est_Lewis_Creek1,fuel_burn_est_Lewis_Creek2,fuel_burn_actual_Lewis_Creek1,fuel_burn_actual_Lewis_Creek2,fuel_burn_est_total,fuel_burn_actual_total,fuel_burn_actual_total_preverified,mape,fuel_burn_actual_total_preverified_CT,fuel_burn_actual_total_preverified_est
0,2014-01-01,2445.8,0.0,1299.000,0.0,1299.0,-5.0,27514.480380,0.000000,15796.809015,0.000000,27514.480380,15796.809015,15796.809015,0.741775,None,None
1,2014-01-02,3824.6,0.0,2732.129,0.0,2907.0,-5.0,40027.850333,0.000000,28850.492024,0.000000,40027.850333,28850.492024,30609.254065,0.307704,None,None
2,2014-01-03,4418.8,0.0,3445.157,0.0,3642.0,-4.0,45331.228658,0.000000,35496.944417,0.000000,45331.228658,35496.944417,37476.689467,0.209585,None,None
3,2014-01-04,2201.1,0.0,1362.175,0.0,1421.0,-3.0,25307.226915,0.000000,16723.125974,0.000000,25307.226915,16723.125974,17318.489842,0.461284,None,None
4,2014-01-05,3614.7,0.0,2547.000,0.0,2547.0,-6.0,38019.905684,0.000000,27005.171318,0.000000,38019.905684,27005.171318,27005.171318,0.407875,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3105,2022-07-03,4067.1,4007.2,3799.000,3786.0,3799.0,3786.0,41773.664965,40073.439148,39194.475268,37930.255793,81847.104113,77124.731062,77124.731062,0.061230,None,None
3106,2022-07-04,4076.6,4013.5,4195.000,4204.0,4195.0,4204.0,41787.343851,40062.849598,43191.306450,42053.946874,81850.193449,85245.253324,85245.253324,0.039827,None,None
3107,2022-07-05,4452.5,4380.5,4279.000,4303.0,4279.0,4303.0,45140.366452,43339.971934,43546.179452,42635.427379,88480.338387,86181.606831,86181.606831,0.026673,None,None
3108,2022-07-06,4530.5,4605.2,3435.000,3576.0,4273.0,4416.0,45795.567818,45374.032148,33858.193875,34555.617796,91169.599966,68413.811671,87238.548135,0.045061,None,None
3109,2022-07-07,3538.5,3600.9,0.000,0.0,3460.0,3656.0,34915.798627,34823.585154,0.000000,0.000000,69739.383782,0.000000,69517.411355,0.003193,None,None

In [8]:
data_temp["heat_rate_1"]

,commercial_node,iso_for_da_awards_miso,begin_date,day_ahead_mw_awarded,date,hour,isb_coefficient_a,isb_coefficient_b,isb_coefficient_c,heat_rate,fuel_burn_est
0,EES.L_CREEK1,MISO_for_DA_awards_MISO,2013-07-23 00:00:00.000000,184.0,2013-07-23,0,265.324,8.184,0.00313,10.201898,1877.149280
1,EES.L_CREEK1,MISO_for_DA_awards_MISO,2013-07-23 01:00:00.000000,184.0,2013-07-23,1,265.324,8.184,0.00313,10.201898,1877.149280
2,EES.L_CREEK1,MISO_for_DA_awards_MISO,2013-07-23 02:00:00.000000,184.0,2013-07-23,2,265.324,8.184,0.00313,10.201898,1877.149280
3,EES.L_CREEK1,MISO_for_DA_awards_MISO,2013-07-23 03:00:00.000000,184.0,2013-07-23,3,265.324,8.184,0.00313,10.201898,1877.149280
4,EES.L_CREEK1,MISO_for_DA_awards_MISO,2013-07-23 04:00:00.000000,184.0,2013-07-23,4,265.324,8.184,0.00313,10.201898,1877.149280
...,...,...,...,...,...,...,...,...,...,...,...
118038,EES.L_CREEK2,MISO_for_DA_awards_MISO,2022-07-08 19:00:00.000000,245.0,2022-07-08,19,232.800,7.880,0.00340,9.663204,2367.485000
118039,EES.L_CREEK2,MISO_for_DA_awards_MISO,2022-07-08 20:00:00.000000,245.0,2022-07-08,20,232.800,7.880,0.00340,9.663204,2367.485000
118040,EES.L_CREEK2,MISO_for_DA_awards_MISO,2022-07-08 21:00:00.000000,245.0,2022-07-08,21,232.800,7.880,0.00340,9.663204,2367.485000
118041,EES.L_CREEK2,MISO_for_DA_awards_MISO,2022-07-08 22:00:00.000000,245.0,2022-07-08,22,232.800,7.880,0.00340,9.663204,2367.485000
118042,EES.L_CREEK2,MISO_for_DA_awards_MISO,2022-07-08 23:00:00.000000,211.8,2022-07-08,23,232.800,7.880,0.00340,9.699270,2054.305416

In [8]:
data_temp['for_modeling'].columns

Index(['gas_date', 'fuel_burn_actual_total_preverified',
       'capacity_LC_total_w_outage', 'capacity_MCPS_total_w_outage',
       'capacity_LC_total_w_outage_future',
       'capacity_MCPS_total_w_outage_future', 'hdd_actual', 'cdd_actual',
       'temp_actual', 'hdd_future', 'cdd_future', 'temp_future'],
      dtype='object')

In [2]:
data_temp.keys()

dict_keys(['lib_dir', 'oracle_connection_string', 'coefficient', 'query', 'MW_forecast', 'sqlcode', 'heat_rate_1', 'fuel_burn_est_1', 'MW_actual', 'MW_actual_preverified', 'fuel_burn_actual', 'master_table_1', 'gas_date_list', 'master_table_2', 'start_date', 'end_date', 'date_range', 'gas_daily_view', 'gas_daily_view_1', 'deleteme', 'gas_daily_view_2', 'deleteme2', 'deleteme3', 'gas_daily_view_3', 'outage_completed', 'outage_future', 'outage_completed_1', 'outage_future_1', 'unit_capacity', 'unit_capacity_1', 'unit_capacity_2', 'unit_capacity_completed', 'unit_capacity_3', 'unit_capacity_future', 'unit_capacity_final', 'unit_capacity_daily', 'unit_capacity_daily_final', 'hdd_cdd', 'for_modeling'])

In [4]:
data_temp['gas_daily_view_3'].columns

Index(['gas_date', 'MW_forecast_Lewis_Creek1', 'MW_forecast_Lewis_Creek2',
       'MW_actual_Lewis_Creek1', 'MW_actual_Lewis_Creek2',
       'MW_actual_preverified_Lewis_Creek1',
       'MW_actual_preverified_Lewis_Creek2', 'fuel_burn_est_Lewis_Creek1',
       'fuel_burn_est_Lewis_Creek2', 'fuel_burn_actual_Lewis_Creek1',
       'fuel_burn_actual_Lewis_Creek2', 'fuel_burn_est_total',
       'fuel_burn_actual_total', 'fuel_burn_actual_total_preverified', 'mape',
       'fuel_burn_actual_total_preverified_CT',
       'fuel_burn_actual_total_preverified_est'],
      dtype='object')

### Data Preparation

In [21]:
fuel_burn = data_temp['gas_daily_view_3'][['gas_date', 'MW_actual_Lewis_Creek1', 'MW_actual_Lewis_Creek2',
           'MW_actual_preverified_Lewis_Creek1', 'MW_actual_preverified_Lewis_Creek2',
           'fuel_burn_actual_Lewis_Creek1', 'fuel_burn_actual_Lewis_Creek2', 'fuel_burn_actual_total',
            'fuel_burn_actual_total_preverified']]
fuel_burn['gas_date'] = pd.to_datetime(fuel_burn['gas_date'])
fuel_burn.head()

,gas_date,MW_actual_Lewis_Creek1,MW_actual_Lewis_Creek2,MW_actual_preverified_Lewis_Creek1,MW_actual_preverified_Lewis_Creek2,fuel_burn_actual_Lewis_Creek1,fuel_burn_actual_Lewis_Creek2,fuel_burn_actual_total,fuel_burn_actual_total_preverified
0,2014-01-01,1299.000,0.0,1299.0,-5.0,15796.809015,0.0,15796.809015,15796.809015
1,2014-01-02,2732.129,0.0,2907.0,-5.0,28850.492024,0.0,28850.492024,30609.254065
2,2014-01-03,3445.157,0.0,3642.0,-4.0,35496.944417,0.0,35496.944417,37476.689467
3,2014-01-04,1362.175,0.0,1421.0,-3.0,16723.125974,0.0,16723.125974,17318.489842
4,2014-01-05,2547.000,0.0,2547.0,-6.0,27005.171318,0.0,27005.171318,27005.171318

In [10]:
temp = data_temp['for_modeling'][['gas_date','hdd_actual', 'cdd_actual', 'temp_actual']]
temp['gas_date'] = pd.to_datetime(temp['gas_date'])

In [18]:
temp.head()

    gas_date  hdd_actual  cdd_actual  temp_actual
0 2014-01-01         NaN         NaN          NaN
1 2014-01-02         NaN         NaN          NaN
2 2014-01-03         NaN         NaN          NaN
3 2014-01-04         NaN         NaN          NaN
4 2014-01-05         NaN         NaN          NaN

In [5]:
 data_temp['fuel_burn_actual'].head()

,meter_name,meter_key,begin_date,begin_date_ct,date_ct,year,hour,commercial_node,heat_rate,net_mw_value,net_mw_value_preverified,fuel_burn_actual,fuel_burn_actual_preverified
0,LEWIS CREEK G1,26.0,2013-08-03 05:00:00.000000,2013-08-03 00:00:00.000000,2013-08-03,2013,0,EES.L_CREEK1,10.201898,NaN,181.0,NaN,1846.543585
1,LEWIS CREEK G1,26.0,2013-08-03 06:00:00.000000,2013-08-03 01:00:00.000000,2013-08-03,2013,1,EES.L_CREEK1,10.201898,NaN,131.0,NaN,1336.448672
2,LEWIS CREEK G1,26.0,2013-08-03 07:00:00.000000,2013-08-03 02:00:00.000000,2013-08-03,2013,2,EES.L_CREEK1,10.201898,NaN,112.0,NaN,1142.612605
3,LEWIS CREEK G1,26.0,2013-08-03 08:00:00.000000,2013-08-03 03:00:00.000000,2013-08-03,2013,3,EES.L_CREEK1,10.201898,NaN,120.0,NaN,1224.227791
4,LEWIS CREEK G1,26.0,2013-08-03 09:00:00.000000,2013-08-03 04:00:00.000000,2013-08-03,2013,4,EES.L_CREEK1,10.201898,NaN,81.0,NaN,826.353759

In [23]:
df = pd.merge(fuel_burn, temp, on = 'gas_date', indicator=True)`

In [28]:
df.to_csv("fuel_burn_data.csv", index= False)

In [1]:
data_temp.keys()

NameError: name 'data_temp' is not defined